<!-- EXPONEA start -->
<script>(function(b,c){if(!b.exponea){var a=function(a,g){function k(d){return function(){var e=arguments;""==a&&"initialize"==d&&e&&e[0].modify&&e[0].modify.overlay&&"loading"==c.readyState&&(c.write('<div id="_inf_overlay_" style="position:absolute;background:#fff;left:0;top:0;width:100%;height:100%;z-index:1000000"></div>'),setTimeout(function(){var a=c.getElementById("_inf_overlay_");a&&c.body.removeChild(a);res._=!0},e[0].modify.delay||500));b.exponea._.push([a+d,arguments])}}var h=g.split(" "),f,d;res={_:[]};for(d=0;d<h.length;d++)f=h[d],res[f]=k(f);return res};b.exponea=a("","initialize identify update track trackLink trackEnhancedEcommerce getHtml showHtml showBanner showForm ping getAbTest");b.exponea.notifications=a("notifications.","isAvailable isSubscribed subscribe unsubscribe");var a=c.createElement("script"),g="https:"===c.location.protocol?"https:":"http:";a.type="text/javascript";a.async=!0;a.src=g+"//<<PROJECT_API_ENDPOINT>>/js/exponea.min.js";c.getElementsByTagName("head")[0].appendChild(a);b.webxpClient=b.webxpClient||{};b.webxpClient.sdk=b.exponea;b.webxpClient.sdkObjectName="exponea"}})(window,document);</script>
<script type="text/javascript">
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return undefined;
    }
    var customer = {};
    var cart_id = getCookie('<<CART_COOKIE_NAME>>'); //default Shopify cookie name is "cart"
    if (cart_id) customer.cart_id = cart_id;
    {% if customer && customer.email %}
    customer.email_id = {{ customer.email | json }};
    customer.shopify_id = {{ customer.id|json }};
    {% endif %}
    exponea.initialize({
        "token": "<<PROJECT_TOKEN>>",
        "target": "<<PROJECT_API_ENDPOINT>>",
        "customer": customer,
        "track": {
        "visits": true,
        {% if shop %}"default_properties": { "domain": {{ shop.permanent_domain|json }} } {% endif %}
    }
    });
</script>
<!-- EXPONEA end -->